<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-top-up-heading" jhiTranslate="saibDigitalWalletApp.topUp.home.createOrEditLabel">Create or edit a Top Up</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                           formControlName="amount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.currency" for="field_currency">Currency</label>
                    <input type="text" class="form-control" name="currency" id="field_currency"
                           formControlName="currency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.transactionType" for="field_transactionType">Transaction Type</label>
                    <input type="text" class="form-control" name="transactionType" id="field_transactionType"
                           formControlName="transactionType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.narativeLine1" for="field_narativeLine1">Narative Line 1</label>
                    <input type="text" class="form-control" name="narativeLine1" id="field_narativeLine1"
                           formControlName="narativeLine1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.narativeLine2" for="field_narativeLine2">Narative Line 2</label>
                    <input type="text" class="form-control" name="narativeLine2" id="field_narativeLine2"
                           formControlName="narativeLine2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.narativeLine3" for="field_narativeLine3">Narative Line 3</label>
                    <input type="text" class="form-control" name="narativeLine3" id="field_narativeLine3"
                           formControlName="narativeLine3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.narativeLine4" for="field_narativeLine4">Narative Line 4</label>
                    <input type="text" class="form-control" name="narativeLine4" id="field_narativeLine4"
                           formControlName="narativeLine4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.clientRefNumber" for="field_clientRefNumber">Client Ref Number</label>
                    <input type="text" class="form-control" name="clientRefNumber" id="field_clientRefNumber"
                           formControlName="clientRefNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.topUp.paymentDetails" for="field_paymentDetails">Payment Details</label>
                    <input type="text" class="form-control" name="paymentDetails" id="field_paymentDetails"
                           formControlName="paymentDetails"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
