<div>
    <h2 id="page-heading">
        <span jhiTranslate="saibDigitalWalletApp.kycIncome.home.title">Kyc Incomes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kyc-income" [routerLink]="['/kyc-income/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="saibDigitalWalletApp.kycIncome.home.createLabel">
            Create a new Kyc Income
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'saibDigitalWalletApp.kycIncome.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="kycIncomes?.length === 0">
        <span jhiTranslate="saibDigitalWalletApp.kycIncome.home.notFound">No kycIncomes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="kycIncomes && kycIncomes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.kycIncome.primarySource">Primary Source</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.kycIncome.primaryAmount">Primary Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.kycIncome.pecondarySource">Pecondary Source</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.kycIncome.pecondaryAmount">Pecondary Amount</span></th>
                    <th scope="col" ><span jhiTranslate="saibDigitalWalletApp.kycIncome.kycIncome">Kyc Income</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kycIncome of kycIncomes ;trackBy: trackId">
                    <td><a [routerLink]="['/kyc-income', kycIncome.id, 'view']">{{ kycIncome.id }}</a></td>
                    <td>{{ kycIncome.primarySource }}</td>
                    <td>{{ kycIncome.primaryAmount }}</td>
                    <td>{{ kycIncome.pecondarySource }}</td>
                    <td>{{ kycIncome.pecondaryAmount }}</td>
                    <td>
                        <div *ngIf="kycIncome.kycIncome">
                            <a [routerLink]="['/kyc', kycIncome.kycIncome?.id, 'view']" >{{ kycIncome.kycIncome?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/kyc-income', kycIncome.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/kyc-income', kycIncome.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(kycIncome)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
