<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wallet-heading" jhiTranslate="saibDigitalWalletApp.wallet.home.createOrEditLabel">Create or edit a Wallet</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.walletId" for="field_walletId">Wallet Id</label>
                    <input type="text" class="form-control" name="walletId" id="field_walletId"
                           formControlName="walletId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.status" for="field_status">Status</label>
                    <input type="text" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.statusUpdateDateTime" for="field_statusUpdateDateTime">Status Update Date Time</label>
                    <input type="text" class="form-control" name="statusUpdateDateTime" id="field_statusUpdateDateTime"
                           formControlName="statusUpdateDateTime"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.currency" for="field_currency">Currency</label>
                    <input type="text" class="form-control" name="currency" id="field_currency"
                           formControlName="currency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.accountType" for="field_accountType">Account Type</label>
                    <input type="text" class="form-control" name="accountType" id="field_accountType"
                           formControlName="accountType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.accountSubType" for="field_accountSubType">Account Sub Type</label>
                    <input type="text" class="form-control" name="accountSubType" id="field_accountSubType"
                           formControlName="accountSubType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.schemeName" for="field_schemeName">Scheme Name</label>
                    <input type="text" class="form-control" name="schemeName" id="field_schemeName"
                           formControlName="schemeName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.identification" for="field_identification">Identification</label>
                    <input type="text" class="form-control" name="identification" id="field_identification"
                           formControlName="identification"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.topUp" for="field_topUp">Top Up</label>
                    <select class="form-control" id="field_topUp" name="topUp" formControlName="topUp">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="topUpOption.id === editForm.get('topUp')!.value?.id ? editForm.get('topUp')!.value : topUpOption" *ngFor="let topUpOption of topups; trackBy: trackById">{{ topUpOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.refund" for="field_refund">Refund</label>
                    <select class="form-control" id="field_refund" name="refund" formControlName="refund">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="refundOption.id === editForm.get('refund')!.value?.id ? editForm.get('refund')!.value : refundOption" *ngFor="let refundOption of refunds; trackBy: trackById">{{ refundOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saibDigitalWalletApp.wallet.peerToPeer" for="field_peerToPeer">Peer To Peer</label>
                    <select class="form-control" id="field_peerToPeer" name="peerToPeer" formControlName="peerToPeer">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peerToPeerOption.id === editForm.get('peerToPeer')!.value?.id ? editForm.get('peerToPeer')!.value : peerToPeerOption" *ngFor="let peerToPeerOption of peertopeers; trackBy: trackById">{{ peerToPeerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
